.fantasycraft.sheet.actor {
  min-width: 765px;
  min-height: 715px;
}
.fantasycraft.sheet.actor ul.attributes {
  flex: 0 0 60px;
  margin: 0;
  padding: 0;
}
.fantasycraft.sheet.actor ul.attributes li.attribute {
  border-left: 1px groove lightgray;
}
.fantasycraft.sheet.actor ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.fantasycraft.sheet.actor ul.attributes li.attribute .attribute-value > * {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}
.fantasycraft.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.fantasycraft.sheet.actor ul.attributes li.attribute .attribute-value input {
  text-align: center;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: hsla(0, 0%, 0%, 0);
}
.fantasycraft.sheet.actor ul.attributes li.attribute .button {
  width: 100%;
  text-align: center;
}
.fantasycraft.sheet.actor ul.attributes li.attribute .button a {
  display: inline-block;
  font-size: 16px;
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  margin: 3px;
  padding: 0 2px;
  width: 90px;
  height: 22px;
  background-color: lightgray;
}
.fantasycraft.sheet.actor ul.attributes li.attribute .button a:hover {
  background-color: white;
}
.fantasycraft.sheet.actor ul.attributes li.attribute .roll {
  text-align: center;
  max-height: 18px;
}
.fantasycraft.sheet.actor .footer-information {
  font-size: 12px;
  margin-top: -1px;
}
.fantasycraft.sheet.actor .footer-text {
  flex: 0 0 18px;
  margin-top: -1px;
  line-height: 18px;
  font-family: "Signika", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.fantasycraft.sheet.actor .footer-text .flatfooted-input input {
  width: 20px;
  height: 15px;
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
  border-bottom: 1px solid #97958d;
}
.fantasycraft.sheet.actor .tab.attributes {
  overflow: hidden;
}
.fantasycraft.sheet.actor .tab.spellcasting {
  overflow-y: hidden;
}
.fantasycraft.sheet.actor .sheet-body .tab {
  overflow: hidden auto;
}
.fantasycraft.sheet.actor .skill-body {
  max-height: 350px;
}
.fantasycraft.sheet.actor .ability-scores {
  padding: 0px;
  min-height: 260px;
  border-right: 2px groove;
}
.fantasycraft.sheet.actor .ability-scores .ability {
  max-width: 240px;
  line-height: 40px;
}
.fantasycraft.sheet.actor .ability-scores .ability input {
  border: 3px solid white;
  height: 60px;
  max-width: 60px;
  text-align: center;
  background-color: #444;
  font-family: arial;
  font-size: 20px;
  color: white;
}
.fantasycraft.sheet.actor .ability-scores .mod input {
  border: 3px solid white;
  height: 40px;
  max-width: 40px;
  text-align: center;
  background-color: #444;
  font-family: arial;
  font-size: 20px;
  color: white;
}
.fantasycraft.sheet.actor h4.skill-name {
  min-width: 95px;
  max-width: 105px;
}
.fantasycraft.sheet.actor table tr td input.skill-input {
  min-width: 28px;
  text-align: center;
}
.fantasycraft.sheet.actor table tr td input.skill-input:disabled {
  font-size: 16px;
  border: none;
  background: none;
  padding: 0px;
}
.fantasycraft.sheet.actor ul.skills {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  width: 100%;
  min-width: 28px;
}
.fantasycraft.sheet.actor ul.skills li.skill input.skill-input {
  min-width: 28px;
}
.fantasycraft.sheet.actor .skill-container {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
}
.fantasycraft.sheet.actor .skill-title {
  font-size: 10px;
  font-weight: 100;
}
.fantasycraft.sheet.actor .checkbox,
.fantasycraft.sheet.actor .ul .li .checkbox {
  width: 12px;
  margin: 0px;
}
.fantasycraft.sheet.actor .med-checkbox,
.fantasycraft.sheet.actor .ul .li .checkbox {
  width: 15px;
  margin: 0px;
  vertical-align: middle;
}
.fantasycraft.sheet.actor .featCat {
  text-align: right;
  font-size: 10px;
  font-style: italic;
  align-self: center;
}
.fantasycraft.sheet.actor .traits .form-group,
.fantasycraft.sheet.actor .traits .form-group-stacked {
  margin: 0 0 3px 0;
  justify-content: space-between;
}
.fantasycraft.sheet.actor .traits .configure-flags {
  flex: 1;
}
.fantasycraft.sheet.actor .traits label {
  flex: none;
  line-height: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.fantasycraft.sheet.actor .traits select {
  max-width: 200px;
}
.fantasycraft.sheet.actor .traits input {
  text-align: right;
}
.fantasycraft.sheet.actor .traits i.fas {
  float: right;
  margin-right: 3px;
  text-align: right;
  color: #999;
}
.fantasycraft.sheet.actor .traits i.fas:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.fantasycraft.sheet.actor .category-label {
  flex: 0 0 100%;
  background-color: maroon;
  color: white;
  text-align: center;
  max-height: 20px;
  font-size: 16px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.fantasycraft.sheet.actor .category-body {
  margin-top: 0px;
  padding: 5px;
  min-height: 110px;
}
.fantasycraft.sheet.actor .category-body.compact-input h4 {
  margin: 0px;
}
.fantasycraft.sheet.actor .category-body.compact-input input {
  height: 20px;
  width: 25px;
}
.fantasycraft.sheet.actor .category-body.compact-input select {
  height: 19px;
}
.fantasycraft.sheet.actor .right-border {
  border-right: 1px groove lightgray;
}
.fantasycraft.sheet.actor .collapse-button {
  width: 30px;
  height: 16px;
  color: white;
  background-color: midnightblue;
  position: relative;
  left: 30px;
  line-height: 0px;
  padding: 0px 0px 0px 3px;
  top: 180px;
}
.fantasycraft.sheet.actor .collapse-button.collapsed {
  top: 15px;
}
.fantasycraft.sheet.actor .collapsed-category {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.fantasycraft.sheet.actor input.calcBox {
  background: white;
}
.fantasycraft.sheet.actor input.calcBox:disabled {
  background: #d8d8d8;
  border-color: black;
  text-align: center;
  margin: auto;
}
.fantasycraft.sheet.actor input.largeBox {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 16px;
}
.fantasycraft.sheet.actor input.wideBox {
  height: 20px;
  width: 27px;
  border-radius: 1px;
  font-weight: 200;
  font-size: 12px;
}
.fantasycraft.sheet.actor input.smallBox {
  height: 20px;
  min-width: 20px;
  max-width: 27px;
  border-radius: 1px;
  font-weight: 200;
  font-size: 12px;
}
.fantasycraft.sheet.actor .shorthand-icon {
  padding: 0.5px 4px;
  border: 1px groove black;
  border-radius: 50%;
  background-color: white;
}
.fantasycraft.sheet.actor li.centreItems {
  height: 50px;
  line-height: 20px;
  text-align: center;
  vertical-align: text-bottom;
}
.fantasycraft.sheet.actor .feature-list {
  min-height: 52px;
  border: 3px outset lightgray;
  border-radius: 2px;
}
.fantasycraft.sheet.actor .ownedItem {
  border: 3px outset lightgray;
  padding: 0px 2px;
  border-radius: 2px;
  background: azure;
}
.fantasycraft.sheet.actor .ownedItem.limit-height {
  height: 28px;
}
.fantasycraft.sheet.actor .ownedItem.unarmed {
  max-height: 45px;
}
.fantasycraft.sheet.actor .ownedItem .center-content {
  align-self: center;
  text-align: center;
  display: inline-flex;
}
.fantasycraft.sheet.actor .ownedItem .center-content.right-align {
  justify-content: end;
}
.fantasycraft.sheet.actor .npc-footer {
  color: grey;
  text-transform: capitalize;
  font-size: 10.5px;
}
.fantasycraft.sheet.actor .defense-shield {
  font-size: 16px;
  border: 3px solid;
  border-radius: 20% 20% 50% 50% / 12% 12% 65% 65%;
  width: 35px;
  text-align: center;
  height: 33px;
  background: lightsteelblue;
  padding: 2px;
  margin: 3px;
}
.fantasycraft.sheet.actor .separator-border {
  border-top-style: double;
  border-bottom-style: double;
  margin: 2px 12px 0px 2px;
}
.fantasycraft.sheet.actor .groove-border {
  border-bottom-style: groove;
  margin: 2px 12px 0px 2px;
}
.fantasycraft.sheet.actor .webkit-flex {
  text-align: -webkit-center;
}
.fantasycraft.sheet.actor .flex {
  display: flex;
}
.fantasycraft.sheet.actor .flex.center-flex {
  justify-content: center;
}
.fantasycraft.sheet.actor .top-align {
  vertical-align: top;
}
.fantasycraft.sheet.actor form.style {
  display: grid;
  grid: "sidebar header" 5.75rem "sidebar nav" minmax(min-content, max-content) "sidebar content" 1fr/14rem 1fr;
  font-family: 'Warnock Pro Light', Warnock, monospace;
  background: url(../fantasycraft/assets/ui/header2.png), antiquewhite;
  background-repeat: repeat-x, no-repeat;
  background-size: 39rem 8.45rem, cover;
  background-position-x: 11rem;
}
.fantasycraft.sheet.actor .sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  margin: 0 0 0 12px;
  background: url(../fantasycraft/assets/ui/Red-Banner.png), tan;
  background-position: center;
  color: white;
  height: 95%;
  border: 3px groove;
  border-image: linear-gradient(to top, rgba(255, 179, 0, 0), #bba008) 1;
  border-radius: 0 0 30% 30% / 0 0 5% 5%;
  border-top: none;
}
.fantasycraft.sheet.actor .sidebar .small-gap {
  margin-top: 10px;
}
.fantasycraft.sheet.actor .sidebar .gap {
  margin-top: 20px;
}
.fantasycraft.sheet.actor .sidebar .diamond {
  height: 30px;
  text-align: center;
  transform: rotate(45deg);
  width: 30px;
  position: fixed;
  border: 3px groove darkgrey;
  z-index: 1;
  margin: 2px 10px;
}
.fantasycraft.sheet.actor .sidebar .diamond.wounds {
  background-color: red;
}
.fantasycraft.sheet.actor .sidebar .diamond.vitality {
  background-color: cornflowerblue;
  margin: 2px 25px;
}
.fantasycraft.sheet.actor .sidebar .diamond .icon {
  margin: 6px;
  transform: rotate(-45deg);
}
.fantasycraft.sheet.actor .sidebar .empty-bar {
  width: 125px;
  background-color: gray;
  border: 3px groove darkgray;
  text-align: right;
  position: relative;
  height: 24px;
  margin: 5px 20px;
  border-radius: 5px;
}
.fantasycraft.sheet.actor .sidebar .empty-bar.vitality {
  left: 20px;
  top: 5px;
}
.fantasycraft.sheet.actor .sidebar .empty-bar span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-right: 4px;
}
.fantasycraft.sheet.actor .sidebar .fill-bar {
  position: relative;
  height: 18px;
  border-radius: 5px;
}
.fantasycraft.sheet.actor .sidebar .fill-bar.wounds {
  --wounds-percentage: 100%;
  background-color: red;
  width: var(--wounds-percentage);
}
.fantasycraft.sheet.actor .sidebar .fill-bar.vitality {
  --vitality-percentage: 0%;
  background-color: cornflowerblue;
  width: var(--vitality-percentage);
}
.fantasycraft.sheet.actor .sidebar input[type="number"] {
  border: none;
  width: 20px;
  background: none;
  color: white;
  padding: 2px 0 0 0;
  height: 20px;
  text-align: center;
}
.fantasycraft.sheet.actor .sidebar input[type="number"].right {
  text-align: right;
}
.fantasycraft.sheet.actor .sidebar .defense {
  height: 65px;
  width: 65px;
}
.fantasycraft.sheet.actor .sidebar .defense.shield {
  height: 75px;
  border-radius: 0 0 75% 75% / 0 0 75% 75%;
  box-shadow: inset 1px 2px 1px #444;
  background: #669;
  border: 4px outset darkgrey;
}
.fantasycraft.sheet.actor .sidebar .defense.armour {
  background-image: url(../fantasycraft/assets/icons/breastplate.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.fantasycraft.sheet.actor .sidebar .defense.armour input {
  margin-top: 25px;
}
.fantasycraft.sheet.actor .sidebar .defense input {
  font-size: 25px;
  width: 35px;
  margin-top: 8px;
}
.fantasycraft.sheet.actor .sidebar .defense footer {
  margin-top: 4px;
  line-height: 10px;
}
.fantasycraft.sheet.actor .sidebar .defense footer * {
  margin-top: 0px;
  font-size: 11px;
}
.fantasycraft.sheet.actor .sidebar .fatigue-shaken {
  margin: 0 21px;
  display: inline-flex;
  gap: 2px;
}
.fantasycraft.sheet.actor .sidebar input[type=radio] + .fs-label::before {
  content: "\f006";
}
.fantasycraft.sheet.actor .sidebar .armour-slot {
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid darkslategray;
  padding: 1px 4px 0px 4px;
  color: darkgray;
  max-height: 20px;
  width: 180px;
  display: inline-flex;
  overflow: hidden;
}
.fantasycraft.sheet.actor .sidebar .armour-slot.equipped {
  color: white;
}
.fantasycraft.sheet.actor .sidebar .dice-icon:hover {
  transform: rotate(360deg);
  transition: all 1s ease-in-out 0s;
}
.fantasycraft.sheet.actor .sidebar .button {
  color: black;
}
.fantasycraft.sheet.actor .sheet-navigation {
  color: white;
  font-size: 18px;
}
.fantasycraft.sheet.actor .sheet-navigation .item {
  padding: 8px 6px;
  margin: 0px;
}
.fantasycraft.sheet.actor .sheet-navigation.dark {
  color: black;
}
.fantasycraft.sheet.actor .sheet-header {
  color: white;
}
.fantasycraft.sheet.actor .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.fantasycraft.sheet.actor .sheet-header .attributes .attribute {
  height: 70px;
  border: none;
  border-left: 2px groove #eeede0;
  border-radius: 0;
}
.fantasycraft.sheet.actor .sheet-header .action-dice {
  text-align: center;
}
.fantasycraft.sheet.actor .sheet-header .action-dice input {
  color: white;
  border-bottom: 1px solid darkgray;
  border-radius: 0px;
}
.fantasycraft.sheet.actor .sheet-header .npc-name {
  background-color: rgba(0, 0, 0, 0.7);
}
.fantasycraft.sheet.actor .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.fantasycraft.sheet.actor .sheet-header .summary input,
.fantasycraft.sheet.actor .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.fantasycraft.sheet.actor .sheet-header > .right {
  text-align: right;
}
.fantasycraft.sheet.actor .sheet-header .action-dice-buttons {
  border: 3px double cornflowerblue;
  background-color: black;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  text-align: center;
  padding-top: 4px;
  margin: 0px 2px;
  font-size: x-large;
  color: lightblue;
}
.fantasycraft.sheet.actor .sheet-header .action-dice-buttons:hover {
  color: whitesmoke;
}
.fantasycraft.sheet.actor .sheet-header .saving-throw-buttons {
  text-transform: capitalize;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
  background: black;
  width: 65px;
  text-align: center;
  margin: 2px, 4px;
}
.fantasycraft.sheet.actor .sheet-header input[number] {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
}
.fantasycraft.sheet.actor .sheet-header.dark {
  color: black;
}
.fantasycraft.sheet.actor .attributes-abilities .ability-scores-v2 {
  max-height: 100px;
  text-align: center;
}
.fantasycraft.sheet.actor .attributes-abilities .ability-scores-v2 .ability {
  width: 85px;
  margin-top: 4px;
}
.fantasycraft.sheet.actor .attributes-abilities .ability-scores-v2 .ability input {
  position: relative;
  background: #333;
  color: white;
  border: 3px double white;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
}
.fantasycraft.sheet.actor .attributes-abilities .ability-scores-v2 .ability input.score {
  width: 60px;
  height: 40px;
}
.fantasycraft.sheet.actor .attributes-abilities .ability-scores-v2 .ability input.mod {
  width: 30px;
}
.fantasycraft.sheet.actor .attributes-abilities .ability-scores-v2 .ability .ability-name-v2 {
  margin: 0px;
}
.fantasycraft.sheet.actor ul.weapons li .center-dice {
  align-self: center;
  text-align: center;
}
.fantasycraft.sheet.actor ul.weapons li .center-dice .dice-button {
  border: 2px groove gray;
  height: 32px;
  width: 32px;
  padding: 7px 2px 0px 0px;
  display: inline-block;
  background: whitesmoke;
  box-shadow: 2px 1px grey;
  border-radius: 5px;
}
.fantasycraft.sheet.actor ul.weapons li .damage-threat {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}
.fantasycraft.sheet.actor ul.weapons li .not-available {
  color: gray;
}
.fantasycraft.sheet.actor .empty-bar {
  border: 3px groove darkgray;
  border-radius: 7px;
  height: 25px;
  background: gray;
}
.fantasycraft.sheet.actor .empty-bar span {
  position: absolute;
}
.fantasycraft.sheet.actor .empty-bar .right {
  right: 0;
}
.fantasycraft.sheet.actor .weight-bar {
  --carry-percentage: 0%;
  background-color: green;
  height: 18px;
  width: var(--carry-percentage);
  border-radius: 6px;
}
.fantasycraft.sheet.actor .feat-num {
  max-width: 25px;
}
.fantasycraft.sheet.actor .childFeatures {
  border-top: none;
  z-index: 0;
  margin: -4px 2px 0 20px;
  padding-top: 10px;
}
.fantasycraft.sheet.actor .childFeatures.collapsable {
  transform: translate(0, 50%) scaleY(0);
  transition: transform 1s;
}
.fantasycraft.sheet.actor .childFeatures span {
  padding-top: 3px;
  border-bottom: 1px solid;
}
.fantasycraft.sheet.actor .childFeatures .discription {
  font-size: 11px;
}
.fantasycraft.sheet.actor .childFeatures .childFeature {
  margin-left: 5px;
  padding-right: 5px;
  font-style: italic;
}
.fantasycraft.sheet.actor .add-item {
  max-height: 11px;
  position: relative;
  text-align: end;
  top: -16px;
}
.fantasycraft.sheet.actor .appearance {
  border-radius: 0;
  border-bottom: 1px solid black;
}
.fantasycraft.sheet.actor .combat-action div {
  align-items: center;
}
.fantasycraft.sheet.actor .combat-action a {
  font-weight: bold;
}
.fantasycraft.sheet.actor h4 input[type="checkbox"] {
  margin: 0;
  height: 16px;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow .flex05 {
  flex: 0.5;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexrow .flex5 {
  flex: 5;
}
.flexrow .flex6 {
  flex: 6;
}
.flexrow .flex100 {
  flex: 100%;
}
.flexrow .flexhalf {
  flex: 50%;
}
.flexrow > * {
  flex: 1;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol.wrap {
  flex-wrap: wrap;
}
.flexcol > * {
  flex: 1;
}
@font-face {
  font-family: 'Freebooter';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/FREEBOOT.woff') format('woff'), url('fonts/FREEBOOT.woff2') format('woff2'), url('fonts/FREEBOOT.otf') format('opentype');
}
.title-font {
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.fantasycraft {
  /* Form Groups */
  /* Tags */
}
.fantasycraft .form-group label {
  flex: 2;
  font-weight: bold;
}
.fantasycraft .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.fantasycraft .form-group .form-fields .flex05 {
  flex: 0.5;
}
.fantasycraft .form-group .form-fields .flex1 {
  flex: 1;
}
.fantasycraft .form-group .form-fields .flex2 {
  flex: 2;
}
.fantasycraft .form-group .form-fields .flex3 {
  flex: 3;
}
.fantasycraft .form-group .form-fields .flex4 {
  flex: 4;
}
.fantasycraft .form-group .form-fields .flex5 {
  flex: 5;
}
.fantasycraft .form-group .form-fields .flex6 {
  flex: 6;
}
.fantasycraft .form-group .form-fields .flex100 {
  flex: 100%;
}
.fantasycraft .form-group .form-fields .flexhalf {
  flex: 50%;
}
.fantasycraft .form-group .form-fields > * {
  flex: 1;
}
.fantasycraft .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.fantasycraft .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.fantasycraft .form-group .extended {
  flex: 5;
}
.fantasycraft .form-group.stacked label {
  flex: 0 0 100%;
  margin: 0;
}
.fantasycraft .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.fantasycraft .collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.fantasycraft .nav .sheet-tabs {
  margin: 4px 0px;
}
.fantasycraft .title-name input {
  color: white;
  height: 32px;
  font-size: 32px;
  font-family: [object Object],[object Object],[object Object];
}
.fantasycraft .content {
  padding: 0 18px;
  background-color: white;
  max-width: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.fantasycraft span.categorylabel {
  font-weight: bold;
  flex: 0 0 90px;
  text-align: right;
}
.fantasycraft .form-header {
  margin: 0 0 0.25em 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.fantasycraft .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.fantasycraft .tooltip {
  border: 1px solid black;
  height: 17px;
  width: 17px;
  background-color: lightgray;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
}
.fantasycraft .tooltip.remove-background {
  background-color: initial;
  border: none;
}
.fantasycraft .tooltip.circular-border {
  border-radius: 50%;
}
.fantasycraft .tooltip .tooltiptext {
  visibility: hidden;
  background-color: floralwhite;
  border: 2px outset tan;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  font-family: signika;
  width: fit-content;
  opacity: 0;
  z-index: 1;
}
.fantasycraft .tooltip .tooltiptext.absolute-position {
  position: absolute;
  margin-top: 15px;
}
.fantasycraft .tooltip .tooltiptext.relative-position {
  position: relative;
}
.fantasycraft .tooltip .tooltiptext.ad-tooltip {
  color: black;
  width: 130px;
}
.fantasycraft .tooltip .tooltiptext.ad-tooltip i {
  color: white;
}
.fantasycraft .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease 0.75s;
}
.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
}
.sheet .window-content {
  padding: 0px;
  font-size: 13px;
  color: #111;
}
.sheet .window-content form {
  overflow: auto;
}
.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.sheet table th {
  padding: 0 0.25em 0.35em;
  text-align: center;
}
.sheet details {
  max-width: 15px;
  background-color: maroon;
}
.sheet details summary {
  padding: 3px;
  font-size: 1.5em;
  padding-top: 40px;
  color: white;
}
.sheet details ::marker {
  box-shadow: grey;
}
.sheet details[open] {
  max-width: 100%;
  background-color: unset;
}
.sheet details[open] summary {
  position: relative;
  list-style-type: "◄";
  font-size: 1.5em;
  text-align: right;
  left: 7px;
  top: 2.5%;
  max-height: 0px;
  padding: 0px;
}
.sheet input[type="text"],
.sheet input[type="number"] {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}
.sheet input[type="text"]:hover,
.sheet input[type="number"]:hover,
.sheet input[type="text"]:focus,
.sheet input[type="number"]:focus {
  border: 1px solid #111;
}
.sheet input[type="text"]:disabled,
.sheet input[type="number"]:disabled {
  background: none;
}
.sheet input[type="text"].underline,
.sheet input[type="number"].underline {
  background: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  border-radius: 0%;
  height: 15px;
}
.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.sheet .editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.sheet .button {
  width: 100%;
  text-align: center;
}
.sheet .button a {
  display: inline-block;
  border: 2px groove grey;
  border-radius: 2px;
  margin: 3px;
  padding: 0 2px;
  min-width: 70px;
  height: 22px;
  background-color: whitesmoke;
  box-shadow: 2px 2px grey;
}
.sheet .button a:hover {
  background-color: white;
}
.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: tan;
  font-weight: normal;
}
.sheet .remove-space {
  margin: 0px;
  padding: 0px;
}
.sheet .two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 52px;
}
.sheet .three-column {
  display: grid;
  grid-template-columns: auto auto auto;
}
.sheet .push {
  margin-left: auto;
}
.sheet .message-content {
  display: flex;
  flex-direction: column;
}
.sheet .editor {
  height: 100%;
}
.sheet .editor .tox-toolbar-overlord,
.sheet .editor .tox-toolbar__primary {
  background: none;
}
.sheet .small-header {
  flex: 0 0 80px;
}
.sheet .large-header {
  flex: 0 0 160px;
}
.sheet .sheet-header {
  border-bottom: 2px groove #eeede0;
  /* Character Name */
  /* Profile Image */
}
.sheet .sheet-header .header-details {
  vertical-align: top;
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.sheet .sheet-header ul.summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
  list-style: none;
}
.sheet .sheet-header ul.summary input,
.sheet .sheet-header ul.summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  min-height: 20px;
  margin: 0;
  padding: 5px;
}
.sheet .sheet-header h1 input {
  display: block;
  height: 25px;
  font-size: 32px;
  margin: 0;
  border: none;
}
.sheet .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
  object-fit: contain;
  border: none;
  border-left: 2px groove #eeede0;
}
.sheet .sheet-header img.profile-left {
  flex: 0 0 80px;
  max-width: 80px;
  height: 80px;
  object-fit: contain;
  border: none;
}
.sheet .sheet-header img.profile-small {
  flex: 0 0 120px;
  max-width: 120px;
  height: 120px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}
.sheet img.classPicture {
  flex: 0 0 160px;
  max-width: 300px;
  object-fit: contain;
  border: none;
}
.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin: 0px !important;
  border-top: none !important;
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.sheet .sheet-navigation.hide {
  visibility: hidden;
  max-height: 0px;
}
.sheet .sheet-navigation .item {
  padding: 2px 12px;
  line-height: 20px;
  margin: 0 15px;
}
.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid darkred;
}
.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.sheet .filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
}
.sheet .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: tan;
}
.sheet .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid beige;
  white-space: nowrap;
}
.sheet .filter-list .filter-item:last-child {
  margin: 0;
}
.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid tan;
}
.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid crimson;
}
.sheet .filter-list .filter-level {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid beige;
  white-space: nowrap;
}
.sheet .filter-list .filter-level:last-child {
  margin: 0;
}
.sheet .filter-list .filter-level:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid tan;
}
.sheet .filter-list .filter-level.active {
  border-bottom: 3px solid crimson;
}
.sheet .traits {
  margin: 5px 0 0;
}
.sheet .traits .trait-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}
.sheet .traits .traits-list {
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
/* ----------------------------------------- */
/* Trait Selector
  /* ----------------------------------------- */
#trait-selector .trait-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#trait-selector input[type="text"] {
  height: 24px;
  margin: 2px;
}
.sheet ul.traits-list li.bordered-text {
  border: 2px groove #eeede0;
}
ul {
  list-style: none;
}
table.item-table {
  margin: 0;
}
table.item-table tr td.table-item {
  text-align: center;
}
h3.box-title {
  height: 20px;
  line-height: 16px;
  margin: 0px 0px 0px;
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
  text-align: center;
}
h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 0px 0px 0px;
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #c9c7b8;
  text-align: center;
}
h4.ability-name {
  min-width: 100px;
  line-height: 25px;
  margin: 0px 8px;
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}
h4.extra-space {
  line-height: 23px;
  padding-top: 4px;
  padding-bottom: 2px;
}
h1.chat-window-header {
  justify-content: center;
  border-bottom: 0px;
  font-size: x-large;
}
input.narrowField {
  width: 25px;
}
input.mediumField {
  max-width: 40px;
}
input.wideField {
  width: 100px;
}
button.smaller-button {
  padding: 0px;
  width: 28px;
  height: 28px;
  margin: -1px;
}
button.smallButton {
  padding: 0px;
  width: 100px;
  height: 27px;
}
textarea.text-area {
  min-width: 100%;
  max-width: 100%;
  height: 175px;
}
.center-contents {
  justify-content: center;
}
.left-align-text {
  text-align: left;
}
.right-align-text {
  text-align: right;
}
.center-text {
  text-align: -webkit-center;
}
.capitalize {
  text-transform: capitalize;
}
.small-font {
  font-size: 9.5px;
  white-space: nowrap;
}
.ranks-remaining {
  border-bottom: 1px solid darkred;
  height: 20px;
  border-radius: 0;
  text-align: center;
}
.plus-minus-buttons {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  background: lightblue;
  padding-top: 2px;
  padding-right: 1px;
}
.left-indent {
  padding-left: 25px;
}
.drop-zone {
  border-radius: 5px;
  min-width: 125px;
  border: 2px dashed gray;
  text-align: center;
  color: gray;
  background: rgba(0, 0, 0, 0.1);
}
.drop-zone:hover {
  border-color: black;
  color: black;
  background: rgba(0, 0, 0, 0.15);
}
.drop-zone.extra-space {
  padding: 5px 25px;
}
.drop-zone.center-flexrow {
  align-self: center;
  width: 250px;
}
.drop-zone.feature-container {
  min-width: 125px;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
  color: black;
  background: rgba(0, 0, 0, 0.1);
}
.fantasycraft.item .item-form header {
  background: url(../fantasycraft/assets/ui/header2.png) repeat-x local;
  background-size: auto;
  color: white;
}
.fantasycraft.item .item-form header li.flex200 {
  flex: 0 0 200px;
}
.fantasycraft.item .item-form header input {
  color: white;
}
.fantasycraft.item .item-form header select {
  color: white;
}
.fantasycraft.item .item-form header select option {
  background: #0e0e3c;
}
.fantasycraft.item .item-form .large-font {
  font-size: 15px;
}
.fantasycraft.sheet.item {
  min-width: 600px;
  max-width: 685px;
  min-height: 275px;
}
.fantasycraft.sheet.item input.short {
  max-height: 15px;
}
.fantasycraft.sheet.item input.tall {
  max-height: 25px;
}
.fantasycraft.sheet.item input.narrowField {
  width: 25px;
}
.fantasycraft.sheet.item input.mediumField {
  max-width: 50px;
}
.fantasycraft.sheet.item input.wideField {
  width: 100px;
}
.fantasycraft.sheet.item header.itemHeader {
  position: relative;
  padding: 5px;
  max-height: 120px;
}
.fantasycraft.sheet.item header.trick-header {
  position: relative;
  padding: 5px;
  max-height: 95px;
}
.fantasycraft.sheet.item header.path-header {
  position: relative;
  padding: 3px;
  max-height: 55px;
}
.fantasycraft.sheet.item header.path-header input {
  height: 50px;
  font-size: 30px;
}
.fantasycraft.sheet.item .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.fantasycraft.sheet.item .sheet-header .attributes .attribute {
  height: 70px;
  border: none;
  border-left: 2px groove #eeede0;
  border-radius: 0;
}
.fantasycraft.sheet.item ul.attributes {
  flex: 0 0 60px;
  margin: 0;
  padding: 0;
}
.fantasycraft.sheet.item ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-family: "Freebooter", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.fantasycraft.sheet.item ul.attributes li.attribute .attribute-value > * {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
.fantasycraft.sheet.item ul.attributes li.attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.fantasycraft.sheet.item ul.attributes li.attribute .attribute-value input {
  text-align: center;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: hsla(0, 0%, 0%, 0);
}
.fantasycraft.sheet.item ul.attributes li.attribute .button {
  width: 100%;
  text-align: center;
}
.fantasycraft.sheet.item ul.attributes li.attribute .button a {
  display: inline-block;
  font-size: 16px;
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  margin: 3px;
  padding: 0 2px;
  width: 90px;
  height: 22px;
  background-color: lightgray;
}
.fantasycraft.sheet.item ul.attributes li.attribute .button a:hover {
  background-color: white;
}
.fantasycraft.sheet.item header .header-input-field {
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
}
.fantasycraft.sheet.item header .footer-text {
  text-align: center;
  font-size: x-small;
  font-family: 'Signika';
}
.fantasycraft.sheet.item .sub-navigation {
  max-height: 20px;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}
.fantasycraft.sheet.item .remove-flex {
  flex: none;
}
.fantasycraft.sheet.item .shopping-pane {
  min-height: 200px;
  border: 1px groove grey;
  background-color: rgba(0, 26, 100, 0.12);
}
.fantasycraft.sheet.item .shopping-pane .item-list-entry {
  max-height: 18px;
  background-image: linear-gradient(to right, lightcyan, lightblue);
  border: 2px outset lightblue;
  margin: 1px;
  overflow: hidden;
}
.fantasycraft.sheet.item .shopping-pane .item-list-entry .item-cost {
  flex: 0 0 60px;
  text-align: right;
}
.fantasycraft.sheet.item .shopping-pane .item-list-entry .item-detail {
  flex: 0 0 60px;
  text-align: center;
}
.fantasycraft.sheet.item .shopping-pane .item-list-entry .item-icons {
  flex: 0 0 35px;
  text-align: right;
}
.fantasycraft.sheet.item .item-list-header {
  max-height: 18px;
}
.fantasycraft.sheet.item .item-list-header .item-detail {
  flex: 0 0 60px;
  text-align: center;
}
.fantasycraft.sheet.item .item-list-header .item-icons {
  flex: 0 0 35px;
  text-align: right;
}
.fantasycraft.sheet.item .itemName {
  text-align: center;
  flex: 0 0 100%;
  margin-bottom: 2px;
}
.fantasycraft.sheet.item .item-subtitle {
  text-align: center;
  font-style: italic;
}
.fantasycraft.sheet.item .form-group.stacked label {
  flex: 0 0 100%;
  margin: 0;
}
.fantasycraft.sheet.item .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.fantasycraft.sheet.item .item-customization-section {
  padding: 2px 8px;
  line-height: 1.4;
  font-family: 'Freebooter';
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  src: url('fonts/FREEBOOT.woff') format('woff'), url('fonts/FREEBOOT.woff2') format('woff2'), url('fonts/FREEBOOT.otf') format('opentype');
}
.fantasycraft.sheet.item .item-customization-section.margins {
  margin-top: 3px;
  margin-bottom: 3px;
}
.fantasycraft.sheet.item .item-customization-section > select {
  font-size: 16px !important;
}
.fantasycraft.sheet.item .item-customization-section > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fantasycraft.sheet.item .item-customization-section > div > div:last-child {
  display: flex;
  align-items: center;
  gap: 4px;
}
.fantasycraft.sheet.item .item-customization-section > div > select {
  font-size: 16px !important;
}
.fantasycraft.sheet.item .item-customization-section > div > input {
  text-align: right;
}
.fantasycraft.sheet.item .minimal-flex {
  flex: 0 0 0px;
}
.fantasycraft.sheet.item .item-upgrades label.checkbox {
  flex: 0 0 98px;
}
.fantasycraft.sheet.item select {
  font-size: 16px;
}
.fantasycraft.sheet.item .top-padding {
  padding-top: 3px;
}
.sheet .page-header input {
  text-align: center;
  border-bottom: 1px solid darkred;
  border-radius: 0px;
  padding: 0px;
  height: 20px;
  font-size: 20px;
  padding-bottom: 2px;
}
.body {
  font-family: 'ariel';
  font-style: normal;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Freebooter';
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  src: url('fonts/FREEBOOT.woff') format('woff'), url('fonts/FREEBOOT.woff2') format('woff2'), url('fonts/FREEBOOT.otf') format('opentype');
}
.attackbox .boxline {
  flex-direction: row;
  display: flex;
}
.card-header .headertext {
  float: left;
  padding-left: 5px;
  text-transform: capitalize;
}
.threat {
  color: green;
}
.error {
  color: red;
}
