<form autocomplete="off" onsubmit="event.preventDefault();"></form>
    <section>
        {{#each step as |bonus name|}}
            <div class="item ownedItem item-card">
                <span class="capitalize">{{localize bonus.name}}</span>
                <br>
                <span>
                    {{!-- Effect 1--}}
                    {{> "systems/fantasycraft/templates/partials/app-path-part-information.hbs" effect=bonus.bonus.effect1}}
                    {{!-- Effect 2 --}}
                    {{> "systems/fantasycraft/templates/partials/app-path-part-information.hbs" effect=bonus.bonus.effect2}}
                </span>
            </div>
        {{/each}}
    </section>

    <button type="submit" name="submit" value="1">{{ localize "fantasycraft.close"}}</button>
</form>